.title{
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 32px;
}
.main-content{
    max-width: 960px;
    display: block;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
textarea{
    margin: auto;
    border: 1px solid coral;
    border-radius: 5px;
}
.button{
    /*justify-content: center;*/
    /*width: 90px;*/
    /*height: 30px;*/
    line-height: 24px;
    border-radius: 10px;
    color: white;
    background-color: coral;
    margin: auto;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 25px;
}
input{
    border: none;
    outline:none;
}