{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VV</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <h1 class="title">VicaVersa</h1>
    <div class="main-content">
        <form action="{% url 'reverse' %}">
            <textarea name="usertext" id="77" cols="30" rows="20"></textarea>
            <p></p>
            <input class="button" type="submit" value="Reverse!">
        </form>
    </div>
</body>
</html>